* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--light-gray);
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

h2 {
  color: var(--light-gray);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5625rem;
  text-transform: uppercase;
}

p, button {
  color: var(--transparent-white);
}

p, button, a {
  font-family: 'Lexend Deca', sans-serif;
  font-size: .9375rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

main {
  display: flex;
}

.car-icon {
  width: 4rem;
  margin-bottom: 2.1875rem;
}

.column {
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  max-width: 57.5rem;
  padding: 3rem;
}

.copy {
  max-width: 13.25rem;
  margin-bottom: 5.1875rem;
}

.sedans {
  background-color: var(--bright-orange);
}

.suvs {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
}

.link-1 {
  color: var(--bright-orange);
}

.link-2 {
  color: var(--dark-cyan);
}

.link-3 {
  color: var(--very-dark-cyan);
}

button {
  background-color: var(--light-gray);
  border: none;
  border-radius: 1.5625rem;
  width: 9.125rem;
  height: 3rem;
  transition: all 0.222s ease-in-out;
}

button:hover {
  background-color: transparent;
  border: solid 1px white;
}

button:hover > a {
  color: white;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
